.background{
    background: #202027;
}


.form{
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-form{
    height: 60%;
    width: 40%;
}

.text{
    color: white;
}

.loginFieldTable
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 45, 53, 1);
    /* padding: 3em; */

    width: 100%;
    height: 80%;
    /* padding-left: 10em;
    padding-right: 10em; */
    border-radius: 0 0 2em 2em;
}

input{
    /* padding: 0.8em; */
    /* margin: 1em; */
}

.loginField{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2em;
    border-radius: 1em;
    border: rgb(0, 0, 0) 2px solid;

    width: 80%;
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 28, 1);
    /* padding: 1em; */
    font-size: 2.5em;
    font-weight: bold;

    border-radius: 2em 2em 0 0 ;

    width: 100%;
    height: 20%;
}

.submit{
    margin-top: 1em;
    padding: 0.5em;
    width: 90%;
    border-radius: 2em;
    border: black 0.1em solid;
    font-size: 1.3em;
    font-weight: bold;
    
    color: white;
    background-color: rgba(24, 24, 28, 1);
    transition: background-color 0.3s ease-in-out;
}

.register{
    color: white;
    background: none;

    border: none;
    font-size:1.1em;
    margin: 1em;
}


form{
    animation: fadeIn 0.5s ease-in-out forwards;
}


@media (max-width: 768px) {
    .login-form{
        width: 90%;
        color: transparent;
    }

    .loginField{
        width: 70%;
        font-size: 1em;
    }

    .login{
        font-size: 2em;
    }
}

@media (hover:hover) and (pointer: fine){
    .submit:hover{
        background-color: #58c87d;  
        color: #ffffff;
    }
    .register:hover{
        color: #5863c8;
    }
}